  /*COLOR CHANGER*/
  /*Credit and Source: http://codepen.io/thapliyalshivam/pen/dvgXVO*/
  .loader {
    filter: hue-rotate(0deg);
    color: linear-gradient(45deg, #0f8, #08f);
    animation: hue 5000ms infinite linear;
  }

  @keyframes spinify {
    0% {
      transform: translate(0px, 0px);

    }

    33% {
      transform: translate(0px, 24px);
      border-radius: 100%;
      width: 10px;
      height: 10px;

    }

    66% {
      transform: translate(0px, -16px);
    }

    88% {
      transform: translate(0px, 4px);

    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  @keyframes hue {
    0% {
      filter: hue-rotate(0deg);
    }

    100% {
      filter: hue-rotate(360deg);
    }

  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  /* CUSTOM CLASSES BELOW */
  .techfont {
    font-family: 'Russo One', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .bigbrand {
    font-size: 3rem;
  }

  .centerstage {
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 10px;
    /* justify-items: flex-start; */
  }

  .postdate {
    text-align: center;
  }

  .posttitle {
    font-family: 'Russo One', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    text-align: center;
  }

  .postcontent {
    font-family: 'Monteserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
  }

  .btn-comment {
    position: absolute;
    right: 0px;
  }

  #dropdown-menu-item li a:hover {
    color: #9d9d9d;
  }

  body {
    min-height: 100%;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    z-index: -2;
    /* filter: blur(5px); */
  }

  .main {
    min-height: 90vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: -2; */
  }

  .glass {
    background: white;
    max-height: 80vh;
    min-width: 80vw;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    position: relative;
    z-index: 2;
    overflow-y: auto;
  }

  .circle1,
  .circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    z-index: 0;
    filter: blur(2px);
  }

  .circle1 {
    position: absolute;
    top: 10%;
    right: 2%;

  }

  .circle2 {
    position: absolute;
    bottom: 2%;
    left: 2%;
    /* z-index: -1; */
  }

  .blog_posts {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    /* overflow-y: scroll; */
  }

  .textinputclass {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border: none;
    border-radius: 5px;
  }

  .card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
    border-radius: 1rem;
    padding: 2px;
    /* width: 50%; */
    margin: 5px;
  }

  .card:hover {
    transition: 0.2s ease-in-out all;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.495);
    transform: translate(0px, -5px);
  }